.header{
    background-color: rgb(190, 64, 64);
    position: fixed;
    width: 100%;
    top: 0;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header h1{
    width:60%;
    text-align: right;
}
.header button{
    margin-right: 10px;
    width: 200px;
    height: 40px;
    border-radius: 10px;
    background-color: #19dde7;
    cursor: pointer;
}
