.contact {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 10px auto;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.contact input {
    width: 200px;
    height: 20px;
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 8px;
}

.contact button,
.welcome button,
.goback button{
    margin-bottom: 10px;
    width: 170px;
    height: 40px;
    border-radius: 10px;
    background-color: #19dde7;
    cursor: pointer;
}

.contact button:hover {
    background-color: #8e9297;
}
.welcome{
    display: flex;
    justify-content: space-between;
}
.bheader{
    margin-top: 100px;
}
.goback{
    display: flex;
    justify-content: space-between;
}