.fpassword {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 200px;
    margin: 10rem auto;
    padding-top: 20px;
    text-align: center;
    align-items: center;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
}

.fpassword input {
    width: 200px;
    height: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 10px;
    padding: 8px;
}

.fpassword button {
    margin-bottom: 10px;
    width: 200px;
    height: 40px;
    border-radius: 10px;
    background-color: #19dde7;
    cursor: pointer;
}

.fpassword button:hover {
    background-color: #8e9297;
}