body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body.light {
  background-color: #ffffff; /* Light theme background color */
  color: #000000; /* Light theme text color */
  /* Add other light theme styles */
}

body.dark {
  background-color: #000000; /* Dark theme background color */
  color: #ffffff; /* Dark theme text color */
  /* Add other dark theme styles */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

